<h1 class="page-header">Add Project Workflow</h1>
<blockquote>
  <p>
    Every project has a progress state. It is either <code>pending</code>, <code>ongoing</code>, <code>completed</code> or <code>canceled</code>. Add a state machine to your projects to keep track of their progress.
  </p>
</blockquote>
<h2>Goals</h2>
<blockquote>
  <ul>
    <li><h4>Use Rails 4.1 latest feature: <code>enum</code></h4></li>
    <li><h4>Generate a migration to add project's status</h4></li>
    <li><h4>Add status to projects index</h4></li>
  </ul>
</blockquote>

<h3>Step 1</h3>
<blockquote>
  <p>
    Generate the migration to store a project status.
  </p>
  <pre><code>rails g migration AddStatusToProjects status:integer</code></pre>
  <p>
    Before migration, set <code>default: 0</code> in your migration so that new projects have a default status <code>pending</code>.
  </p>
  <pre><code>rake db:migrate</code></pre>
</blockquote>

<h3>Step 2</h3>
<blockquote>
  <p>Use <code>enum</code> to add poor man's state machine to <code>Project</code></p>
  <pre><code class="ruby">class Project &lt; ActiveRecord::Base
  has_many :comments, as: :commentable
  validates :title, presence: true

  enum status: [:pending, :ongoing, :completed, :canceled]
end</code></pre>
</blockquote>

<h3>Step 3</h3>
<blockquote>
  <p>Display project's status on index and show views.</p>
  <p>This task is left for you to practice or complete in class with the group.</p>
</blockquote>

<h3>Step 4</h3>
<blockquote>
  <p>Enable status editing from project form.</p>
  <p>First, add status input on project's form</p>
  <pre><code>&lt;div class="field"&gt;
  &lt;%= f.label :status %&gt;&lt;br&gt;
  &lt;%= f.select :status, Project.statuses.keys %&gt;
&lt;/div&gt;</code></pre>
  <p>Then, add <code>status</code> to the list of permitted attributes in <code>ProjectsController</code></p>
  <pre><code>def project_params
  params.require(:project).permit(:title, :description, :status)
end</code></pre>
</blockquote>

<h2>Explanation</h2>
<blockquote>
  <h3>Enum</h3>
  <p>
    Declare an enum attribute where the values map to integers in the database, but can be queried by name.
  </p>
  <p>
    Additionally, <code>enum</code> will create the <code>bang!</code> and <code>boolean?</code> versions for each possible value.
  </p>
  <p>
    Read more on <a href="http://api.rubyonrails.org/v4.1.0/classes/ActiveRecord/Enum.html">ActiveRecord Enum</a>.
  </p>
</blockquote>