<h1 class="page-header">Getting Started</h1>
<%= image_tag 'Start_page.png', alt: '' %>
<h2>Goals</h2>
<ul>
  <li>
    <div class="message">
      <p>Create Your New Application</p>
    </div>
  </li>
  <div class="message">
    <p>Let's get started! By the end of this step, we'll have a brand-spankin'-new (empty) rails app.</p>
  </div>
</ul>

<h2>Steps</h2>
<div class="alert alert-info">
  <p>
    <i class="fa fa-info-circle fa-2x"></i>
    Don't hesitate to ask questions if you have <em>any</em> problems!
  </p>
</div>
<h3>Step 1</h3>
<blockquote>
  <div class="console">
    <span>Type this in the terminal where you want to create your new rails application:</span><pre>rails new milo -m https://gist.githubusercontent.com/mathieugagne/11214649/raw/c22dfbe6bc628fc9222a91ac1ca68180fb3f368e/suggestotron.rb</pre>
  </div>
  <div class="message">
    <p><code>rails new</code> creates a new rails project with the name you give.</p>
  </div>
  <div class="message">
    <p>In this case we told it to create a new project called <code>milo</code>. We'll go into detail on what it created shortly.</p>
  </div>
</blockquote>
<div class="step">
  <h3>Step 2</h3>
  <blockquote>
    <div class="console">
      <span>Type this in the terminal:</span><pre>cd milo</pre>
    </div>
    <div class="message">
      <p>'cd' stands for change directory.</p>
    </div>
    <div class="message">
      <p>'cd milo' makes milo our current directory.</p>
    </div>
  </blockquote>
</div>
<div class="step">
  <h3>Step 3</h3>
  <blockquote>
    <div class="message">
      <p>Open the milo folder as a project in your text editor.</p>

      <p>In <strong>Sublime Text 2</strong>, you can use the <code>Project &gt; Add Folder to Project...</code> menu option:</p>

      <p><%= image_tag "sublime_add_folder_to_project.png", alt: '' %></p>
    </div>
  </blockquote>
</div>