<h1 class="page-header">Next Steps</h1>
<blockquote>
  <p>It is now in your hands to make Milo better.</p>
  <p>Here are some of the things you can do to improve Milo (and practice your Rails skills):</p>
  <ul>
    <li><h4>Sort projects using table headers</h4></li>
    <li><h4>Add counter cache for projects comments</h4></li>
    <li><h4>Add tags and categories to filter your projects</h4></li>
  </ul>
</blockquote>

<h3>Thank you!</h3>

<h2>Explore</h2>
<blockquote>
  <p>
    <a href="http://api.rubyonrails.org/v4.1.0/">rubyonrails.org</a> has extensive documentation on everything touching Rails. It provides links to the source code, explanations, configurations, examples and much more. Have a look at <a href="http://api.rubyonrails.org/v4.1.0/">http://api.rubyonrails.org/v4.1.0/</a>
  </p>
</blockquote>