<h1 class="page-header">Next Steps</h1>
<p>It is your hands to make Milo better.</p>
<p>Here are some of the things you can do to improve Milo (and practice your Rails skills):</p>
<ul>
  <li><h4>Sort projects using table headers</h4></li>
  <li><h4>Add counter cache for projects comments</h4></li>
  <li><h4>Add tags and categories to filter your projects</h4></li>
</ul>

<h3>Thank you!</h3>