<h1 class="page-header">Rails Intermediate</h1>
<h2>Goal</h2>
<p>
  To teach you more advanced techniques of Ruby on Rails, we are going to create a Project Management System. This is system will still be rudimentary but should teach us the following:
</p>
<ul>
  <li>Display a searchable/sortable list of projects</li>
  <li>Only allowed registered users</li>
  <li>Allow users to comment on projects</li>
  <li>Sort various projects with categories and tags</li>
  <li>Keep track of progress on projects</li>
</ul>
<p>
  <%= image_tag 'milo.png', alt: '' %>
</p>
<h2>Meta Goals</h2>
<p>When you have completed today's goals you should understand:</p>
<ul>
  <li>Review scaffolding with the command line</li>
  <li>Review associations/relationships between models</li>
  <li>Validations on ActiveRecord models</li>
  <li>Nested forms</li>
  <li>Authentication with Devise</li>
  <li>Keep track of project's progress with a state machine</li>
  <li>Polymorphism in Rails</li>
</ul>

<h2>Requirements</h2>

<p>
  We're going to be working with:
</p>

<ul>
  <li>Ruby 2.1.1</li>
  <li>Rails 4.1.x</li>
  <li>Bundler</li>
  <li>sqlite</li>
  <li>Terminal</li>
  <li>Sublime Text</li>
</ul>