<h1 class="page-header">Rails Intermediate</h1>
<h2>Goal</h2>
<p>
  To teach you more advanced techniques of Ruby on Rails, we are going to create a Project Management System. This is system will still be rudimentary but should teach us the following:
</p>
<ul>
  <li>Display a (sortable) list of projects</li>
  <li>Authenticate registered users</li>
  <li>Users can post comments on projects</li>
  <li>Keep track of progress on projects</li>
  <li>Categorize projects with tags (optional)</li>
</ul>
<p>
  <%= image_tag 'milo.png', alt: '' %>
</p>
<h2>Meta Goals</h2>
<p>When you have completed today's goals you should understand:</p>
<ul>
  <li>Review scaffolding with the command line</li>
  <li>Review associations/relationships between models</li>
  <li>Validations on ActiveRecord models</li>
  <li>Authentication with Devise</li>
  <li>Keep track of project's progress with a poor man's state machine</li>
  <li>Form Helpers Methods</li>
  <li>Polymorphism in Rails</li>
</ul>

<h2>Requirements</h2>

<p>
  We're going to be working with:
</p>

<ul>
  <li>Ruby 2.1.1</li>
  <li>Rails 4.1.x</li>
  <li>Bundler</li>
  <li>sqlite</li>
  <li>Terminal</li>
  <li>Sublime Text</li>
</ul>